.build
*.xcodeproj
Visualization/diagram.js
*.output
Icons/AppResultFolder/SwiftDiagramGeneratorIcon_AppResultFolder/icon.iconset
Icons/ApplicationIcon/SwiftDiagramGeneratorIcon/icon.iconset
Icons/AppFileIcon/iOS icons (SwiftDiagramGeneratorIcon_File)
Icons/iOS icons (SwiftDiagramGeneratorIcon)
.swiftpm/xcode/package.xcworkspace/xcuserdata/pho.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcuserdata/pho.xcuserdatad/xcschemes/xcschememanagement.plist
