.build
*.xcodeproj
Visualization/diagram.js
*.output
Icons/AppResultFolder/SwiftDiagramGeneratorIcon_AppResultFolder/icon.iconset
Icons/ApplicationIcon/SwiftDiagramGeneratorIcon/icon.iconset
Icons/AppFileIcon/iOS icons (SwiftDiagramGeneratorIcon_File)
